[user]
    name = Daniel
    email = {{ .email }}

[core]
    editor = nvim
    pager = ~/.config/git/delta-theme-wrapper
    excludesfile = ~/.config/git/ignore

[interactive]
    diffFilter = ~/.config/git/delta-theme-wrapper --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    true-color = always
    hyperlinks = true
    hyperlinks-file-link-format = file://{path}
    hunk-header-style = line-number syntax
    hunk-header-decoration-style = blue box

[delta "dark"]
    syntax-theme = Catppuccin Mocha

[delta "light"]
    syntax-theme = Catppuccin Latte

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    lg = log --oneline --graph --decorate --all
