**/.DS_Store
.config/nvim/.git
.config/zsh/.zsh_sessions
.config/zsh/.zsh_history
.config/zsh/custom.zsh
.config/zsh/.zshrc
README.md
{{- if eq .machine_type "work" }}
.config/gh
.config/git
{{- end }}
