**/.DS_Store
.config/nvim/.git
.config/zsh/.zsh_sessions
.config/zsh/.zsh_history
.config/zsh/.zshrc
.config/zsh/.zshenv
.config/npm/npmrc
{{- if eq .machine_type "work" }}
.config/gh
.config/git
{{- end }}
README.md
**/README.md
