<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appVolumes</key>
	<dict/>
	<key>bluetoothSleepRestorePending</key>
	<false/>
	<key>cameraPreviewShortcut</key>
	<string>control+option+command:13</string>
	<key>cameraPreviewShortcutEnabled</key>
	<false/>
	<key>clamshellPreferred</key>
	<false/>
	<key>cleanerScheduleFrequency</key>
	<string>weekly</string>
	<key>clipboardAutoClearDelaySeconds</key>
	<integer>20</integer>
	<key>clipboardHistoryEnabled</key>
	<false/>
	<key>clipboardHistoryLimit</key>
	<integer>20</integer>
	<key>defaultDurationMinutes</key>
	<integer>0</integer>
	<key>dockPreviewBackgroundOpacity</key>
	<real>0.45000000000000001</real>
	<key>dockPreviewEnabled</key>
	<false/>
	<key>featureAvailable.appUpdates</key>
	<false/>
	<key>featureAvailable.autoQuit</key>
	<false/>
	<key>featureAvailable.brightness</key>
	<true/>
	<key>featureAvailable.cameraPreview</key>
	<true/>
	<key>featureAvailable.cleaner</key>
	<true/>
	<key>featureAvailable.cleaningMode</key>
	<true/>
	<key>featureAvailable.clipboardHistory</key>
	<false/>
	<key>featureAvailable.colorPicker</key>
	<false/>
	<key>featureAvailable.commandBar</key>
	<false/>
	<key>featureAvailable.diskImageInstaller</key>
	<false/>
	<key>featureAvailable.dockClick</key>
	<false/>
	<key>featureAvailable.dockPreview</key>
	<false/>
	<key>featureAvailable.extraBrightness</key>
	<true/>
	<key>featureAvailable.fanControl</key>
	<true/>
	<key>featureAvailable.finderCutPaste</key>
	<false/>
	<key>featureAvailable.finderRename</key>
	<false/>
	<key>featureAvailable.focusFollowsMouse</key>
	<false/>
	<key>featureAvailable.homebrew</key>
	<false/>
	<key>featureAvailable.keepAwake</key>
	<true/>
	<key>featureAvailable.keyboardDebounce</key>
	<false/>
	<key>featureAvailable.killProcess</key>
	<true/>
	<key>featureAvailable.mediaTools</key>
	<false/>
	<key>featureAvailable.micMute</key>
	<false/>
	<key>featureAvailable.middleClick</key>
	<false/>
	<key>featureAvailable.mixer</key>
	<true/>
	<key>featureAvailable.monitorCPU</key>
	<true/>
	<key>featureAvailable.monitorDisk</key>
	<true/>
	<key>featureAvailable.monitorGPU</key>
	<true/>
	<key>featureAvailable.monitorMemory</key>
	<true/>
	<key>featureAvailable.monitorNetwork</key>
	<true/>
	<key>featureAvailable.monitorPower</key>
	<true/>
	<key>featureAvailable.mouseButtonShortcuts</key>
	<false/>
	<key>featureAvailable.mouseNavigation</key>
	<false/>
	<key>featureAvailable.musicBlock</key>
	<true/>
	<key>featureAvailable.pastePlain</key>
	<false/>
	<key>featureAvailable.quickLauncher</key>
	<false/>
	<key>featureAvailable.quickToggles</key>
	<false/>
	<key>featureAvailable.radialMenu</key>
	<false/>
	<key>featureAvailable.scratchpad</key>
	<false/>
	<key>featureAvailable.screenOCR</key>
	<false/>
	<key>featureAvailable.screenRecorder</key>
	<false/>
	<key>featureAvailable.screenshot</key>
	<false/>
	<key>featureAvailable.scrollInverter</key>
	<false/>
	<key>featureAvailable.shelf</key>
	<false/>
	<key>featureAvailable.smoothScroll</key>
	<false/>
	<key>featureAvailable.soundOutputSwitcher</key>
	<false/>
	<key>featureAvailable.superKey</key>
	<false/>
	<key>featureAvailable.switcher</key>
	<true/>
	<key>featureAvailable.textSnippets</key>
	<false/>
	<key>featureAvailable.uninstaller</key>
	<true/>
	<key>featureAvailable.urlCleaner</key>
	<false/>
	<key>featureAvailable.windowLayout</key>
	<false/>
	<key>featureAvailable.windowMaximizer</key>
	<false/>
	<key>keepAwakeActiveIcon</key>
	<string>coffee</string>
	<key>keepAwakeAllowDisplaySleep</key>
	<false/>
	<key>keepAwakeAutoStart</key>
	<false/>
	<key>keepAwakeIconTint</key>
	<string>orange</string>
	<key>keepAwakeMouseJiggleEnabled</key>
	<false/>
	<key>keepAwakeMouseJiggleIntervalMinutes</key>
	<integer>2</integer>
	<key>launchAtLoginWanted</key>
	<true/>
	<key>monitorPwrTemperature</key>
	<true/>
	<key>panelCollapsedResetVersion</key>
	<string>2.15.1</string>
	<key>previewSize</key>
	<string>small</string>
	<key>scrollInverterHorizontalEnabled</key>
	<false/>
	<key>shelfItems</key>
	<data>
	W10=
	</data>
	<key>statusItemPlacementGeneration</key>
	<integer>1</integer>
	<key>switcherCurrentSpaceOnly</key>
	<true/>
	<key>switcherIconRowMode</key>
	<true/>
	<key>switcherMergeTabs</key>
	<false/>
	<key>switcherShowShortcutHints</key>
	<false/>
	<key>switcherSimpleMode</key>
	<false/>
	<key>switcherWindowlessApps</key>
	<string>off</string>
	<key>updateHighlightsSeenVersion</key>
	<string>3.3.3</string>
	<key>vorssDisabledSleep</key>
	<false/>
</dict>
</plist>
